<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch"></include>
  
  <include file="$(find mega_useful_robot)/launch/joystick.launch"></include>

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 3.1415 0 0 base_link laser 100" />

  <node pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" name="serial_node" respawn="true"/>

  <node pkg="mega_useful_robot" type="twist_to_pwm.py" name="twist_to_pwm" respawn="true"/>
</launch>
